<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="component_name">Playground</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{ISO8601}] [%-5p] [${component_name}:%t] [%c{1}] [%m]%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root> 
        <Logger name="ca.gc.ec.dms.commons" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>